/*
!wercker.yml
!/.gitignore
!/.gitmodules
!/src
!/gradle
!/gradlew
!/gradlew.bat
!/README.md
!/License.txt
!/LICENSE
!/VERSION
!/.travis.yml
!/build.gradle
!/build.properties
!/build.sh
!/gradle.properties
.DS_Store
